@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Heebo:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(bg.jpg) no-repeat center/cover  fixed;
}

.container{  
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
}

.container h1{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    border-bottom: 5px solid rgb(0, 70, 128);
    margin-bottom: 23px;
    padding: 10px 0;
    color: rgb(0, 70, 128);
}

.box{
    width: 100%;
    border-bottom: 2px solid rgb(0, 70, 128);
}

.box input{
    font-family: 'Dosis', sans-serif;
    background: none;
    width: 75%;
    margin: 6px 0px;
    padding: 5px 5px;
    font-size: 18px;
    border: none;
    outline: none;
    
}

.box i{
    color: rgb(0, 70, 128);
    width: 30px;
    text-align: center;
}

.btn{
    font-family: 'Heebo', sans-serif;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 6px;
    border: 2px solid rgb(0, 70, 128);
    border-radius: 10px;
    background: none;
    color: rgb(0, 70, 128);
    font-weight: bold;
}

.btn:hover{
    color: rgb(216 189 118);
    background-color: rgb(0, 70, 128);
}